<footer class="home-section site-footer" id="contact">
  <div class="footer-wrapper">
    <div class="home-section-body home-section-contact">

      <div class="footer-content">
        <h2 class="footer-heading">Tell us about your next mapping project</h2>
        <div>
          Send us an email: <a href="mailto:info@route.nyc">info@route.nyc</a>. We look forward to hearing from you.
        </div>
        <h2 class="footer-heading">Get to know us</h2>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="{{ "/assets/index.js" | relative_url }}"></script>
