<footer class="home-section site-footer" id="contact">
  <div class="footer-wrapper">
    <div class="home-section-body home-section-contact">

      <div class="footer-content">
        <h2 class="footer-heading">Tell us about your next mapping project.</h2>
        <a class="footer-email-us-button" href="mailto:info@rte.nyc">Email Us</a>
        <div class="footer-email-text">
          Send us an email: <a href="mailto:info@rte.nyc">info@rte.nyc</a>. We look forward to hearing from you.
        </div>

        <div class="footer-social">
          <h2 class="footer-heading">Get to know us.</h2>
          <ul class="footer-social-list">
            <li>
              <a href="https://medium.com/route">Visit Our Blog</a>
            </li>
            <li>
              <a href="https://twitter.com/routenyc">Follow Us on Twitter</a>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>

  <div class="animation_footer">
    <img src="{{ '/assets/img/animations/subway.svg' | relative_url }}" />
  </div>


  <div class="bottom-footer">
    <p>Copyright © 2018 Route  195 Plymouth St, Suite 9.  Brooklyn, NY 11201</p>
  </div>
</footer>

<script type="text/javascript" src="{{ "/assets/index.js" | relative_url }}"></script>
