<footer class="home-section site-footer" id="contact">
  <div class="footer-wrapper">
    <div class="home-section-body home-section-contact">

      <div class="footer-content">
        <h2 class="footer-heading">Tell us about your next mapping project.</h2>
        <button class="footer-email-us-button">Email Us</button>
        <div class="footer-email-text">
          Send us an email: <a href="mailto:info@route.nyc">info@route.nyc</a>. We look forward to hearing from you.
        </div>

        <div class="footer-social">
          <h2 class="footer-heading">Get to know us.</h2>
          <ul class="footer-social-list">
            <li>
              <a href="http://example.com">Join Our Newsletter</a>
            </li>
            <li>
              <a href="http://example.com">Visit Our Blog</a>
            </li>
            <li>
              <a href="http://example.com">Follow Us on Twitter</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="{{ "/assets/index.js" | relative_url }}"></script>
