@charset "utf-8";

// Define defaults for each variable.
$table-text-align: left !default; 

$base-font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$header-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;

$text-color: #111 !default;
$background-color: #fdfdfd !default;
$brand-color: #2a7ae2 !default;
$body-background-color: #F8F8F8;

$grey-color: #3D4752 !default;
$grey-color-light: #CCCED1 !default;
$grey-color-lighter: #E8EAEB !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$blue-color: #00B6FF;

// Width of the content area
$content-width: 800px !default;

$on-palm: 600px !default;
$on-tablet: 800px !default;
$on-laptop: 800px !default;

$dark-green-rail-color: #629B21;
$yellow-rail-color: #F1C618;
$red-rail-color: #F42503;
$orange-rail-color: #F97F06;
$blue-rail-color: #135BBC;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout"
;

$home-section-header-height: 44px;

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $grey-color;
  overflow: hidden;

  &.modal-open {
    overflow-y: hidden;
  }
}

a, a:link, a:visited {
  color: $grey-color;
}

.wrapper {
  margin-left: 15%;
  margin-right: 15%;
  max-width: none;
}

.page-content {
  padding: 0;
  background-color: $body-background-color;
}

.site-header {
  border-top: none;
  padding-bottom: $home-section-header-height;
  padding-top: 40px;

  .site-header-wrapper {
    margin-right: calc(15% + 30px);
  }

  .site-header-content {
    margin-left: 15%;
  }

  .site-header-sub {
    color: $grey-color-light;
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    margin-left: -65px;
  }
}

.site-title {
  float: none;
  line-height: 35px;
}

.site-logo {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 250px;
  margin-left: -65px;

  &.blue {
    background-image: url('img/logo-blue.svg');
  }
  &.green {
    background-image: url('img/logo-green.svg');
  }
  &.grey {
    background-image: url('img/logo-grey.svg');
  }
  &.orange {
    background-image: url('img/logo-orange.svg');
  }
  &.red {
    background-image: url('img/logo-red.svg');
  }
  &.yellow {
    background-image: url('img/logo-yellow.svg');
  }
  &.pink {
    background-image: url('img/logo-pink.svg');
  }
}

.main-menu {
  position: fixed;
  top: 220px;
  right: 0;
  width: calc(30px + 15%);

  ul {
    list-style: none;
  }

  li {
    margin: 7px 0;
  }

  &-link {
    transition: color .2s;

    &:hover {
      text-decoration: none;
    }

    &.active {
      font-weight: bold;

      &:before {
        content: "";
        background: white;
        border: 3px solid black;
        border-radius: 50%;
        box-sizing: content-box;
        display: inline-block;
        float: left;
        height: 10px;
        margin-left: -42px;
        margin-top: 3px;
        width: 10px;
      }
    }

    &.dark-background {
      color: white;
    }
  }
}

.home-section {
  border-right: 8px solid;
  margin-right: calc(15% + 30px);

  &:first-of-type {
    margin-top: 0;
  }

  h2 {
    color: #3D4752;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;

    .section-header-text {
      margin-left: 25%;
      margin-top: 2rem;
    }

  }

  .section-header-underline {
    width: 100vw;
    height: 1px;
    background: #C8CACD;
  }

  .home-section-body {
    min-height: 95vh;
    margin-left: 25%;
    margin-top: -1px;
    padding-bottom: 12rem;
    padding-right: 12rem;
    padding-top: 50px;

    &-inner {
      max-width: 750px;
    }
  }

  &#home {
    border-right-color: $dark-green-rail-color;

    .home-section-body {
      padding-top: 150px;
    }
  }

  .home-section-top p:first-of-type {
    padding-top: 20px;
  }


  &#projects {
    border-right-color: $yellow-rail-color;
  }

  &#about {
    border-right-color: $orange-rail-color;
  }

  &#clients {
    border-right-color: $blue-rail-color;
  }

  &#contact {
    border: none;
    padding-bottom: 0;
    padding-top: 0;

    .home-section-contact {
      border-right: 8px solid $red-rail-color;
    }
  }
}

.site-footer {
  background-color: #3D4752;
  border-top: 0;
  color: white;
  min-height: 95vh;
  margin-right: 0;
  padding-bottom: 0;
  padding-top: 0;

  h2 {
    color: white;
  }

  .footer-wrapper {
    margin-right: calc(15% + 30px);
  }

  .footer-content {
    padding-top: 2 * $home-section-header-height;
  }

  .footer-email-us-button {
    background: $blue-color;
    border: 0;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 16px;
  }

  .footer-email-text {
    margin-top: .5rem;
  }

  .footer-social {
    margin-top: 3rem;
  }

  .footer-social-list {
    margin: 0;

    li {
      float:left;
      list-style: none;
      margin-left: 2rem;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  a, a:link, a:visited {
    color: $blue-color;
    font-weight: bold;
  }
}

.about-bios {
  list-style: none;
  margin: 0;
  padding: 0;

  .about-bio {
    padding: 10px 0;
  }

  .about-bio-image {
    float: left;
    width: 20%;
  }

  .about-bio-text {
    float: right;
    padding-left: 1rem;
    width: 80%;
  }
}

.clients-testimonials {
  margin: 0;

  .client-testimonial-text {
  float: right;
  width: 75%;
  }

  .clients-testimonial {
    background: $grey-color-lighter;
    list-style: none;
    margin-top: 2rem;
    padding: 2rem 3rem 2rem 2rem;

    &:first-of-type {
      margin-top: 0;
    }

    &-image {
      float: left;
      width: 25%;
      padding-right: 3rem;
      padding-bottom: 2rem;
    }
  }
}

.project-grid {
  margin: 0;
  padding: 0;

  &-item {
    background: #ddd;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    float: left;
    height: 200px;
    margin-bottom: 5%;
    margin-right: 3%;
    position: relative;
    width: 100%;

    &-cover {
      background: rgba(0, 0, 0, 0.6);
      bottom: 0;
      cursor: pointer;
      display: none;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;

      &-text {
        color: white;
        font-weight: regular;
        font-size: 22px;
        text-align: center;
      }
    }

    &:hover .project-grid-item-cover {
      display: flex;
    }
  }
}

.project-modal {
  display: none;

  &.open {
    display: block;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
  }

  &-background {
    background: rgba(0, 0, 0, 0.05);
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
  }

  &-close {
    border: 1px solid gray;
    border-radius: 50%;
    color: gray;
    cursor: pointer;
    display: block;
    font-size: 24px;
    height: 25px;
    line-height: 23px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 25px;
  }

  &-contents {
    display: none;
    height: 100%;
    padding: 20px;

    &-slide {
      display: none;
      height: 100%;

      &-img {
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        height: 100%;
        width: 70%;
      }

      &-right {
        float: left;
        padding: 15px;
        height: 100%;
        overflow-y: auto;
        width: 30%;
      }
    }
  }

  &-next,
  &-previous {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 40px;
    padding: 0;
    position: absolute;
    transform: translateY(-50%);

    &:focus {
      outline: none;
    }
  }

  &-previous {
    left: -10px;
    top: 50%;
  }

  &-next {
    right: -10px;
    top: 50%;
  }

  &-inner {
    background: white;
    box-shadow: 0px 0px 10px 1px #ccc;
    height: 500px;
    position: absolute;
    top: 25%;
    left: 90px;
    width: 70%;

    .project-modal-contents {
      display: block;
    }
  }
}

.animation {
  img {
    height: 30px;
    left: -100px;
    margin-top: 17px;
    position: absolute;
    transition: left 14s;
    transition-delay: 1.5s;
    transition-timing-function: ease-in-out;
  }
}

.project-modal-next, .project-modal-previous {
  color: $grey-color;
}

  .project-modal-close {
    border: 2px;
    font-weight: bold;
 }

.project-modal-close {
  border: 2px;
  font-weight: bold;
}

.bottom-footer {
  background-color: #293039;
  color: #D9D2D2;
  font-size: 12px;
  text-align: center;
  padding: 30px 60px 30px 60px;
}

@include media-query($on-palm) {
  .site-header {
    .site-header-wrapper {
      margin-left: 1rem;
      margin-right: 0;
    }

    .site-logo, .site-header-content, .site-header-sub {
      margin-left: 0;
    }
  }

  .main-menu {
    background: $body-background-color;
    height: 0;
    left: inherit;
    padding-left: .5rem;
    right: calc(1rem + 8px);
    z-index: 500;

    ul {
      margin-bottom: 0;
      margin-left: 0;
      display: none;
    }

    a {
      padding: 7px 0;
    }

    &.open {
      border-bottom: 1px solid $grey-color-light;
      border-left: 1px solid $grey-color-light;
      border-top: 1px solid $grey-color-light;
      height: auto;

      ul {
        display: inline-block;
      }
    }

    .main-menu-link.active:before {
      display: none;
    }
    
    .main-menu-link.dark-background {
      color: $grey-color;
    }

    &:after {
      content: "";
      background: white;
      border: 3px solid black;
      border-radius: 50%;
      box-sizing: content-box;
      display: inline-block;
      float: right;
      height: 10px;
      margin-right: -12px;
      margin-top: 4px;
      width: 10px;
    }
    &.open:after {
      margin-top: 3px;
    }
  }

  .home-section-body {
    padding-right: 0;
  }

  .home-section {
    margin-right: 1rem;

    &#home .home-section-top {
      padding-top: 2rem;
      padding-right: 1rem;
      margin-left: 1rem;
    }

    h2 {
      .section-header-text {
        margin-left: 1rem;
      }
    }

    .home-section-body {
      margin-left: 1rem;
      padding-right: 1rem;
    }
  }

  .about-bios {
    .about-bio-image {
      float: none;
      margin-left: 10%;
      width: 80%;
    }

    .about-bio-text {
      float: none;
      padding-left: 0;
      padding-top: 1rem;
      width: 100%;
    }
  }

  .project-modal {
    .project-modal-inner {
      bottom: 3rem;
      height: auto;
      left: 1rem;
      right: 1rem;
      top: 3rem;
      width: auto;
    }

    .project-modal-contents-slide-img {
      background-position: center;
      background-size: contain;
      float: none;
      height: 33%;
      width: 100%;
    }

    .project-modal-contents-slide-right {
      float: none;
      height: 67%;
      overflow-y: auto;
      padding: 20px;
      width: 100%;
    }

    .project-modal-previous {
      left: -20px;
    }
    .project-modal-next {
      right: -20px;
    }
  }

  .clients-testimonials {
    .clients-testimonial {
      padding-right: 2rem;
    }

    .clients-testimonial-image {
      float: none;
      display: block;
      padding-right: 0;
      width: 100%;

      img {
        margin-left: 10%;
        width: 80%;
      }
    }
  }

  .site-footer {
    margin-right: 0;
    padding-right: 1rem;

    .footer-content {
      padding-top: 4rem;
    }

    .footer-wrapper {
      margin-right: 0;
    }

    .footer-social-list li {
      display: block;
      float: none;
      margin-left: 0;
    }

    .bottom-footer {
      margin-right: -1rem;
    }
  }
}

@include media-query($on-tablet) {
  .home-section .home-section-body {
    margin-left: 15%;
    padding-right: 6rem;
  }

  .home-section h2 .section-header-text {
    margin-left: 15%;
  }

  .project-modal-inner {
    left: 10%;
    height: 70%;
    top: 15%;
    width: 80%;
  }

  .project-modal-contents-slide-img {
    width: 60%;
  }

  .project-modal-contents-slide-right {
    width: 40%;
  }

  .clients-testimonials .clients-testimonial-image {
    padding-right: 2rem;
  }
}
